*{margin:0;padding:0}
.App {
  display: flex;
  flex-wrap: wrap;
}
.App > div {
  padding: 30px;
  border: 1px solid;
  min-width: 300px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
}
.App pre {
  flex: 1;
  width: 300px;
  border: 1px solid;
  white-space: pre-wrap;
  word-wrap: break-word;
  resize: horizontal;
  max-height: 500px;
  overflow-y: scroll;
}
pre p {
  word-wrap: break-word;
  border-bottom: 1px solid;
  padding: 5px 0;
  font-size: 12px;
}
button {
  font-size: 16px;
  margin: 5px 0;
  padding: 10px 0
}